body{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: #000000;
    padding: 20px;
}

#logo{
    float: left; 
    width: 80px;
}

main {
    padding: 20px;
}

section {
    margin: 0 auto;
}

.social-icons {
    margin-top: 10px;
}

.social-icons .icon {
    display: inline-block;
    margin-right: 10px;
    color: #3f3a3a;
    font-size: 30px;
}

#texto{
    width: 400px;
    height: 200px;
    resize: both;
    overflow: auto;
    border-radius: 5px;

}

#resultado{
    width: 200px;
    height: 200px;
    resize: both;
    overflow: auto;
    border-radius: 5px;

}

#buttons{
    text-align: center;
}

#buttons button{
    margin: 20px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: deepskyblue;
    transition: background-color 0.3s, transform 0.3s;

}

#buttons button:hover {
    background-color: rgb(209, 100, 27);
    transform: scale(1.1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
  }
  
  .entradas {
    flex: 1;
    margin-right: 10px;
  }
  
  .resultados {
    flex: 1;
    margin-left: 15px;
  }

/* Estilos responsivos */
@media only screen and (max-width: 600px) {
    /* Estilos para pantallas más pequeñas */
    section {
        max-width: 100%;
        padding: 10px;
    }
}

footer {
    background-color: #000000;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.footer-content {
    text-align: center;
}